*,
*::before,
*::after{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

body
{
    background-color: #FFFAF0;
}

/* Header Section */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.comp_name{
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 800;
    flex: 1;
    cursor: pointer;
}

.header_nav_link{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em 1em;
    gap: 1rem;
    flex: 1;
}

.header_link{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
    font-weight: 400;
}

.header_nav_btn{
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;
    justify-content: flex-end;
}

/* Hero Section */

.hero{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.hero_title{
    font-size: 4rem;
    letter-spacing: -0.05em;
    font-weight: 800;
    text-align: center;
}

.hero_description{
    letter-spacing: -0.05em;
    font-size: 1.25rem;
    text-align: center;
    padding: 0em 10em;
}



/* Utility class */
.btn{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
}

.container{
    width: 90%;
    margin-inline: auto;
}